@charset "utf-8";
/* CSS Document */

#content {
	height: 1473px;
	width: 1074px;
	margin-left: 100px;
}
#carousel {
}
#header {
	margin-left: 115px;
	margin-top: -8px;
	display: block;
}
#maidhead {
	margin-left: 115px;
	margin-top: -5px;
	width: 1100px;
	background-color: rgba(255,255,255,1.00);
	height: 614px;
	display: inline-block;
}
#container {
	width: 1000px;
	margin-top: -44vmax;
	margin-left: 163px;
	font-family: "Lovato Light";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-align: justify;
	color: rgba(125,144,40,1);
	display: block;
}
#inframe {
	margin-left: 116px;
	background-color: rgba(255,255,255,1.00);
	width: 825px;
	padding-left: 250px;
}
